@font-face {
    font-family: sans-medium;
    src: url('../../assets/font/SanomatSans-Medium.otf');
}

@font-face {
    font-family: sans-bold;
    src: url('../../assets/font/SanomatSans-Bold.otf');
}


.yellow {
    color: #FFF200;
}

h1,h2,h3,h4,h5,h6 {
    font-family: sans-bold;
}

button {
    border: 0px;
    font-family: sans-bold;
}

button.outline {
    display: inline-block;
    background: url('../../assets/image/btn-outline.png');
    padding: 10px 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #FFF200;
    font-size: 25px;
    cursor: pointer;
}

p {
    font-family: sans-medium !important;
}

.bg {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../../assets/image/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../../assets/image/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-2 {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../../assets/image/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* temukan page */

.to-center {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -8%;
}

.center-logo img {
    width: 300px;
    height: 128px;
}


.caption {
    position: relative;
}

.caption p {
    font-size: 1.5rem;
}


/* selamat1 page */

.selamat {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-logo {
    position: absolute;
    right: 5%;
    top: 5%;
}

.right-logo img {
    width: 200px;
    height: 86px;
}


/* modaladd */
.blur {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.diblk {
    border: 0px;
    background: none;
}

.my-modal {
    position: relative;
    min-height: 400px;
    width: 75%;
}

/* default modal */
.my-modal .content-modal {
    width: 100%;
    padding-left: 30%;
    margin-top: 150px;
    position: relative;
}

.my-modal .content-modal h3{
    font-size: 1.4rem;
    padding-bottom: 7px;
}

.my-modal .content-modal p{
    font-size: 1.1rem;
}

.my-modal .content-modal h6{
    font-size: 0.96rem;
}


/* modal1 */

.modal1 {
    background: url('../../assets/image/modal1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* modal2 */

.modal2 {
    background: url('../../assets/image/modal2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* modal3 */

.modal3 {
    background: url('../../assets/image/modal3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* modal4 */

.modal4 {
    background: url('../../assets/image/modal4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* modal5 */

.modal5 {
    background: url('../../assets/image/modal5.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* raffle */

#lightning{
    background: url('../../assets/image/lightning-tl.png') no-repeat;
    background-size: contain;
    height: 150px;
    width: 150px;
    display: inline-block;
}


    /* posisition */
    .top-l {
        position: absolute;
        top: 2%;
        left: -80px;
    }

    .top-r {
        position: absolute;
        top: 2%;
        right: -80px;
    }

    .bottom-r {
        position: absolute;
        bottom: 2%;
        right: -80px;
    }


    .bottom-l {
        position: absolute;
        bottom: 2%;
        left: -80px;
    }

.flip-h {
    -moz-transform: scaleX(-1) !important;
    -webkit-transform: scaleX(-1) !important;
    -o-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
    -ms-filter: fliph !important;
    filter: fliph !important;
}

.flip-v {
    -moz-transform: scaleY(-1) !important;
    -webkit-transform: scaleY(-1) !important;
    -o-transform: scaleY(-1) !important;
    transform: scaleY(-1) !important;
    -ms-filter: flipV !important;
    filter: flipV !important;
}

.flip-h-v {
    -moz-transform: scaleX(-1) scaleY(-1);
    -o-transform: scaleX(-1) scaleY(-1);
    -webkit-transform: scaleX(-1) scaleY(-1);
    transform: scaleX(-1) scaleY(-1);
    filter: FlipH FlipV;
    -ms-filter: "FlipH" "FlipV" ;
}

.top-0 {
    top: 0 !important;
}

.hg-100 {
    position: relative;
    height: 100%;
    width: 100%;
}

.imagefull {
    position: relative;
    height: 100%;
    width: 100%;
    background: url('../../assets/image/bakso.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%;
}

.raffle img {
    width: 100%;
    height: auto;
}

.fill {
    position: relative;
    height: 100%;
    width: 100%;
}
.fill img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Modal effect 6  zoomOutIn */
.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1) !important;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    }
    
    .modal.fade.show .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1) !important;
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
        opacity: 1;
    }