  <div class="to-center">
    <div class="center-logo d-flex justify-content-center mb-5">
      <img src="assets/image/logo-grab.png" alt="grablogo">
    </div>
    <div class="caption d-flex flex-column align-items-center justify-content-center">
        <div class="w-75 text-center d-flex flex-column align-items-center">
          <h2>Temukan menu favorit yang kamu banget di GrabFood</h2>
          <p class="mt-2 w-75" >Suka manis atau gurih? Ternyata menu favoritmu bisa bercerita karaktermu, lho. Pengen tahu? Yuk buktikan di sini,<br> dan dapatkan <span class="yellow" >Voucher GrabFood</span>, ga pake lama!</p>
        </div>
        <a href="#" id="start" class="mt-3"><button class="outline text-uppercase" >Mulai</button></a>
    </div>
  </div>
   