<div class="bg">
    <div class="d-flex hg-100">
        <div class="col-lg-2">
        <div class="to-center raffle top-0">
            <img src="assets/image/logo-grab.png" alt="grablogo">
        </div>
        </div>
        <div class="col-lg-8">
                <!-- imagefull -->
        <div class="fill shadow-lg">
            <img id="imageRuffle"/>
            <div class="lightning">
            <span class="top-l" id="lightning"></span>
            <span class="top-r flip-h" id="lightning"></span>
            <span class="bottom-l flip-v" id="lightning"></span>
            <span class="bottom-r flip-h-v" id="lightning"></span>
            </div>
        </div>
        </div>
        <div class="col-lg-2">
        <div class="to-center raffle top-0">
            <img src="assets/image/logo-grab.png" alt="grablogo">
        </div>
        </div>
    </div>
</div>


<!-- Modals -->
<div class="modal fade" id="modal-bakso" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content diblk d-flex justify-content-center align-items-center">
            <div class="modal1 my-modal">
              <div class="content-modal">
                 <h3>Bakso</h3>
                 <p class="pb-3" >Kamu itu hangat, romantis, dan penyayang. <br> Sehangat semangkok bakso saat gerimis,<br> pembawaan kamu bikin teduh dan orang terlena.</p>
                 <h6 class="mt-4 text-white" >Bakso favorit kamu ada di GrabFood. <br> Apapun makanannya, semua diantar gak pake lama. <br>Karena GrabFood <span class="yellow" >#JUARACEPAT</span></h6>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="modal-martabak" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content diblk d-flex justify-content-center align-items-center">
            <div class="modal2 my-modal">
              <div class="content-modal">
                 <h3>MARTABAK</h3>
                 <p class="pb-3" >Kayaknya kamu yang selalu ceria dan menghibur<br> di kantor ya? Seperti martabak, manis atau gurih<br> disukai semua orang dan bikin happy.</p>
                 <h6 class="mt-4 text-white" >Martabak favorit kamu ada di GrabFood. <br> Apapun makanannya, semua diantar gak pake lama. <br>Karena GrabFood <span class="yellow" >#JUARACEPAT</span></h6>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="modal-nasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content diblk d-flex justify-content-center align-items-center">
            <div class="modal3 my-modal">
              <div class="content-modal">
                 <h3 class="pt-2" >ANEKA MENU NASI</h3>
                 <p class="pb-3" >Kamu itu berkepribadian kuat, tapi<br>fleksibel. Seperti nasi, sumber energi kita<br> sehari-hari dan mudah masuk ke setiap menu.</p>
                 <h6 class="mt-4 text-white" >Menu nasi favorit kamu ada di GrabFood. <br> Apapun makanannya, semua diantar gak pake lama. <br>Karena GrabFood <span class="yellow" >#JUARACEPAT</span></h6>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="modal-kopi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content diblk d-flex justify-content-center align-items-center">
            <div class="modal4 my-modal">
              <div class="content-modal">
                 <h3 class="pt-2" >BUBBLE TEA & ES KOPI</h3>
                 <p class="pb-3" >Hey, you’re cool & always trendy. Seperti<br>Bubble Tea atau Es Kopi yang lagi populer,<br>bawaan kamu bikin seger di mata dan easy going.</p>
                 <h6 class="mt-4 text-white" >Bubble tea & es kopi favorit kamu ada di GrabFood. <br> Apapun makanannya, semua diantar gak pake lama. <br>Karena GrabFood <span class="yellow" >#JUARACEPAT</span></h6>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="modal-ayam" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content diblk d-flex justify-content-center align-items-center">
            <div class="modal5 my-modal">
              <div class="content-modal">
                 <h3>Aneka Menu Ayam</h3>
                 <p class="pb-3" >Wah, anaknya rajin dan kreatif nih. Seperti ayam,<br> selalu bangun paling pagi untuk beraktivitas dan<br> sering jadi menu ragam bentuk. Salute!</p>
                 <h6 class="mt-4 text-white" >Menu aneka ayam favorit kamu ada di GrabFood. <br> Apapun makanannya, semua diantar gak pake lama. <br>Karena GrabFood <span class="yellow" >#JUARACEPAT</span></h6>
              </div>
            </div>
          </div>
        </div>
    </div>