<div class="bg-2">
  <div class="right-logo d-flex justify-content-center">
    <img src="assets/image/logo-grab.png" alt="grablogo">
  </div>
  <div class="selamat d-flex flex-column align-items-center justify-content-center">
      <div class="w-75 text-center d-flex flex-column align-items-center">
        <h1 class="text-white display-3" >Selamat!</h1>
        <h2 class="yellow display-4" >Kamu dapat Voucher GrabFood <span id="voucher"></span>*!</h2>
      </div>
  </div>
</div>

